.pricing{
  margin-top: 200px;
  background-color: var(--blue-bg);
  padding: 100px 0;
}

.pricing-title{
  text-align: center;
  color: white;
  font-size: 40px;
}

.pricing-subtitle{
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.pricing-grid{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 150px;
  gap: 80px;
}

.pricing-grid-item{
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

.pricing-grid-item-title{
  text-align: center;
  color: var(--text-blue);
}

.pricing-grid-item-paragraph{
  margin-top: 15px;
  text-align: center;
  color: var(--text-blue);
}

.pricing-grid-item-price-wrapper{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pricing-grid-item-price{
  font-size: 50px;
  font-weight: bold;
  color: var(--text-blue);
}

.pricing-grid-item-price-child-wrapper{
  display: flex;
  flex-direction: column;
}

.pricing-grid-item-price-child-dollar-sign{
  font-weight: bold;
  color: var(--text-blue);
}

.pricing-grid-item-price-child-span-text{
  color: var(--text-blue);
}

.pricing-grid-item-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--text-blue);
}

.pricing-grid-item-button{
  width: 100%;
  margin-top: 25px;
  padding: 10px 20px;
  border: 1px solid var(--button-blue);
  border-radius: 50px;
  background-color: var(--button-blue);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.pricing-grid-item-button:hover{
  color: var(--button-blue);
  background-color: white;
  border: 1px solid var(--button-blue);
}

.pricing-grid-item-middle{
  padding: 30px;
  background-color: #2091F9;
  border-radius: 10px;
}

.pricing-grid-item-title-middle{
  text-align: center;
  color: white;
}

.pricing-grid-item-paragraph-middle{
  margin-top: 15px;
  text-align: center;
  color: white;
}

.pricing-grid-item-price-wrapper-middle{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pricing-grid-item-price-middle{
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.pricing-grid-item-price-child-wrapper-middle{
  display: flex;
  flex-direction: column;
}

.pricing-grid-item-price-child-dollar-sign-middle{
  font-weight: bold;
  color: white;
}

.pricing-grid-item-price-child-span-text-middle{
  color: white;
}

.pricing-grid-item-ul-middle{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
}

.pricing-grid-item-button-middle{
  width: 100%;
  margin-top: 25px;
  padding: 10px 20px;
  border: 1px solid var(--button-blue);
  border-radius: 50px;
  background-color: white;
  color: #2091F9;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.pricing-grid-item-button-middle:hover{
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

@media screen and (max-width: 798px) {
  .pricing{
    padding: 50px 0;
  }

  .pricing-title{
    font-size: 35px;
  }

  .pricing-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 50px;
    gap: 80px;
  }
}
